<h1> New Merchant </h1>

<form action="/merchants/new" method="POST">
  <label> Merchant Name: </label>
  <input type="text" name="merchant[name]" value="">
  <input type="submit" value="Create Merchant">
</form>
