<h2><%= @merchant.name %></h2>
<form action="/merchants/<%= @merchant.id %>/edit" method="GET">
  <input type="submit" value="Edit">
</form>
<form action="/merchants/<%= @merchant.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
